@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.foto {
  max-width: 100%;
  height: 100%;
  border-radius: 0.625rem;
}

.animais > ul > li {
  height: 100%;
}

.mapa {
  width: 100%;
  height: 450px;
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.dados li::before {
  content: "";
  width: 1.25rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  background-color: #7d26ce;
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c6a1eb;
  color: #222;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin: 2rem 0rem;
  background-color: #7d26ce;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem;
  gap: 0.625rem;
}

.menu li a {
  display: block;
  padding: 0.625rem;
  text-decoration: none;
  color: #222;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 0.625rem;
  display: grid;
  grid-template-columns: 5.625rem 18.75rem 1fr;
  gap: 1.25rem;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Courier New", Courier, monospace;
  font-size: 6rem;
  line-height: 5rem;
  grid-column: 1 / 4;
  font-weight: 500;
}

.animais h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1.25rem;
  color: #ffff3d;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  background-color: #7d26ce;
}
.animais p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 23.125rem;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
  width: 1.125rem;
  border: 3px solid #ffff3d;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #7d26ce;
  border-left: 2px solid #ffff3d;
  border-right: 2px solid #ffff3d;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #ffff3d;
}

.faq-lista dt::before {
  content: "";
  width: 1.25rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  background-color: #7d26ce;
  display: inline-block;
}

.faq-lista dd {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.875rem;
}

.copy {
  grid-column: 1 / 5;
  background-color: #7d26ce;
  font-family: "Courier New", Courier, monospace;
  padding: 1.25rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

ul {
  list-style: none;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu {
    margin-top: 0;
  }

  .foto {
    max-width: 100%;
    border-radius: 0.625rem;
  }

  .animais > ul > li {
    height: 30%;
    width: 100%;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 6.25rem 1fr;
    gap: 0.625rem;
  }

  .grid-section h1 {
    font-size: 48px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .mapa,
  .dados {
    grid-column: 1/3;
  }
}
