html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.conteiner{
    align-items: center;
    
}
